<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div id="homework-list">
        {% for hw in homework_list %}
        <a href="{{ url_for('homeworks', homework_id=hw.id) }}" style="text-decoration: none;">
        <div class="homework-card card my-card">
            <div class="card-header">
                <div class="row justify-content-between align-items-center">
                    <div class="col-auto">
                        <p style="font-size: 22px;">{{ hw.title }}</p>
                    </div>
                    <div class="col-auto">
                        <p style="font-size: 22px;">{{ hw.due_date }}</p>
                    </div>
                </div>
            </div>
            <div class="card-header">
                <div class="row justify-content-between align-items-center">
                    <div class="col-auto">
                        <p style="font-size: 18px; font-weight: normal;">{{ hw.content }}</p>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row justify-content-between align-items-center">
                <div class="col-auto">
                    <p style="text-align: left;">Professeur: {{ hw.teacher }}</p>
                    <p style="text-align: left;">Matière: {{ hw.subject }}</p>
                    <p style="text-align: left;">Classe: {{ hw.class_id }}</p>
                </div>


                    <div class="col-auto">
                        <p style="font-size: 20px;">{{ hw.user_id }}</p>
                        {% if hw.file_data %}
                        <a href="{{ url_for('download_file', homework_id=hw.id) }}" class="btn btn-primary" style="background-color: #007bff; color: white;">Download File</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        </a>
        {% endfor %}
    </div>
</body>



</html>