<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Homework</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <style>
        body {
            background-color: #e2fbdf;
        }
    </style>
</head>
<body>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flashes">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<style>#c0f6bb</style>
<div id="homework-answer-list">
    <h1 style="text-align: center;">Réponses pour "{{ homework.title }}"</h1>
    <br>
    {% for ans in answers %}
    <a href="{{ url_for('homeworks', homework_id=homework.id,  answer_id=ans.id) }}" style="text-decoration: none;">
        <div class="answer-card card my-card my-card-answer">
            <div class="card-header">
                <div class="row justify-content-between align-items-center">
                    <div class="col-auto">
                        <p style="font-size: 22px;">{{ ans.title }}</p>
                    </div>
                    <div class="col-auto">
                        <p style="font-size: 22px;">{{ ans.due_date }}</p>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row justify-content-between align-items-center">
                    <div class="col-auto">
                        <p style="text-align: left;">(Clique sur moi pour voir le contenu)</p>
                    </div>
                    <div class="col-auto">
                        <p style="text-align: left;">{{ ans.user_id }}</p>
                    </div>
                    {% if ans.file_data %}
                    <div class="col-auto" style="display: flex;">
                        <a class="btn btn-primary" href="{{ url_for('download_file', answer_id=ans.id) }}"
                           style="background-color: #007bff; color: white;">Télécharger le fichier associé : {{
                            ans.file_name }}</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
    <button class="btn btn-primary"
            style="font-size: 24px; border-radius: 60px; padding: 1%; background-color: NUMBER; margin-left: 90%; position: fixed; bottom: 20px; left: -30px;">
        <a href="{{ url_for('upload_answer', homework_id=homework.id) }}" style="color: white; text-decoration: none;">
            Envoyer une réponse
        </a>
    </button>
</div>
</body>
