<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
<div id="search-container" class="search-container">
  <form action="{{ url_for('search_homeworks', tag='') }}" method="GET" class="search-bar" onsubmit="updateAction(event)" style="margin-left: 30%;">
    <input type="text" placeholder="Rechercher un devoir." name="tag">
    <button type="submit"><img src="{{ url_for('static', filename='img/search.png') }}"></button>
  </form>
<button class="btn btn-primary" style="font-size: 18px; border-radius: 60px; padding: 1%; background-color: NUMBER; margin-left: 20%;">
    <a href="{{ url_for('upload') }}" style="color: white; text-decoration: none;">
        Envoyer un devoir
    </a>
</button>
</div>

<script>
  function updateAction(event) {
    event.preventDefault();
    var tag = document.getElementsByName("tag")[0].value;
    var url = "{{ url_for('search_homeworks', tag='') }}";
    url += encodeURIComponent(tag);

    // Redirect to the generated URL
    window.location.href = url;
  }
</script>
    <div id="homework-list">
        {% for hw in homework_list %}
        <div class="homework-card card my-card">
            <a href="{{ url_for('homeworks', homework_id=hw.id) }}" style="text-decoration: none;">
            <div class="card-header">
                <div class="row justify-content-between align-items-center">
                    <div class="col-auto">
                        <p style="font-size: 22px;">{{ hw.title }}</p>
                    </div>
                    <div class="col-auto">
                        <p style="font-size: 22px;">{{ hw.due_date }}</p>
                    </div>
                </div>
            </div>
            <div class="card-header">
                <div class="row justify-content-between align-items-center">
                    <div class="col-auto">
                        <p style="font-size: 18px; font-weight: normal;">{{ hw.content }}</p>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row justify-content-between align-items-center">
                <div class="col-auto">
                    <p style="text-align: left;">Professeur: {{ hw.teacher }}</p>
                    <p style="text-align: left;">Matière: {{ hw.subject }}</p>
                    <p style="text-align: left;">Classe: {{ hw.class_id }}</p>
                </div>


                    <div class="col-auto">
                        <p style="font-size: 20px;">{{ hw.user_id }}</p>
                    </div>
                </div>
            </div>
            </a>
        </div>
        {% endfor %}
    </div>
</body>



</html>