<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
         .option-btn { width: 45%; height: 200px; margin: 2%; display: flex; align-items: center; justify-content: center; } .options { display: flex; flex-wrap: wrap; justify-content: space-around; }
    </style>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
<div class="container">
    <div class="d-flex justify-content-between"><h1>Home</h1> <a href="{{ url_for('profile') }}">Profile</a></div>
    <div class="options"><a href="#" class="btn btn-primary option-btn">Professeurs</a> <a href="#"
                                                                                           class="btn btn-primary option-btn">Matières</a>
        <a href="#" class="btn btn-primary option-btn">Calendrier</a> <a href="#" class="btn btn-primary option-btn">Classe</a>
    </div>
</div>
</body>
</html>