<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Upload</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Upload Homework</h1>
    <form method="post" enctype="multipart/form-data"> {{ form.csrf_token }}
            <div class="form-group">
        <label for="{{ form.title.id }}">{{ form.title.label }}</label>
        {{ form.title(class="form-control", placeholder="Titre") }}
    </div>
    <div class="form-group">
        <label for="{{ form.content.id }}">{{ form.content.label }}</label>
        {{ form.content(class="form-control") }}
    </div>
    <div class="form-group">
        <label for="{{ form.file.id }}">{{ form.file.label }}</label>
        {{ form.file(class="form-control") }}
    </div>

    <div class="form-group">
        <label for="{{ form.due_date.id }}">{{ form.due_date.label }}</label>
        {{ form.due_date(class="form-control", placeholder="Date Limite") }}
    </div>
    <div class="form-group">
        <label for="{{ form.teacher.id }}">{{ form.teacher.label }}</label>
        {{ form.teacher(class="form-control") }}
    </div>
    <div class="form-group">
        <label for="{{ form.subject.id }}">{{ form.subject.label }}</label>
        {{ form.subject(class="form-control") }}
    </div>
    <div class="form-group">
        <label for="{{ form.classe.id }}">{{ form.classe.label }}</label>
        {{ form.classe(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
    </form>
    <div id="message"></div> <!-- Placeholder for displaying upload message -->
</div>
</body>
</html>
