<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Envoyer Réponse</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div class="container">
        <h1>Envoyer une réponse.</h1>
        <form method="post" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div class="form-group">
                <label for="{{ form.title.id }}">{{ form.title.label }}</label>
                {{ form.title(class="form-control", placeholder="Title") }}
            </div>
            <br>
            <div class="form-group">
                <label for="{{ form.content.id }}">{{ form.content.label }}</label>
                {{ form.content(class="form-control") }}
            </div>
            <br>
            <div class="form-group">
                <label for="{{ form.file.id }}">Fichier Réponse (formats de réponse autorisés : .zip, .txt, .odt, .docx, .png, .jpg, .gif) (5mo max)</label>
                {{ form.file(class="form-control") }}
            </div>
            <br>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
        <div id="message"></div> <!-- Placeholder for displaying upload message -->
    </div>
</body>

</html>
